/.SockDescriptionLabelProvider.java._trace
/.SockLabelProvider.java._trace
/.SockDescriptionLabelProvider.xtendbin
/.SockLabelProvider.xtendbin
/SockDescriptionLabelProvider.java
/SockLabelProvider.java
